@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    margin: 0;
    border: 0;
}

header {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 16px;


}

.container {
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;

}

.banner {
    background-image: url('../images/bannerimage.png');
    background-repeat: no-repeat;
    align-items: center;
    padding: 177px 344px;
    width: 80%;
    max-width: 1320px;


}

.banner-text h6 {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;

}

.banner-text h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px;
    /* 131.944% */
    font-family: 'Merriweather', serif;
    color: white;

}

.banner-text {
    width: 80%;
    max-width: 632px;
    text-align: center;
    padding: 10px 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.heading {
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
    align-items: center;
}

.heading h1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;

}

.heading h6 {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.heading h2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 35px;
}

.heading-img {
    margin-left: 250px;
}

.welcome {
    background-image: url('../images/vectorrr.png');
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;

}

.welcome img {
    object-position: left;
    padding-left: 130px;
}

.welcome h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    width: 580px;
    margin-bottom: 25px;
}

.welcome h6 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 550px;
    /* 166.667% */
    margin-bottom: 70px;
}

.text {
    padding: 105px 0;
}

.welcome h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 50px 60px 50px;
}

.times {
    background-color: pink;
    align-items: center;
    margin-bottom: 50px;
}

.times-text {
    text-align: center;
    padding: 100px 0px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 60px;
    padding: 16px 32px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgb(212, 6, 6);
}

.time {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.comingsoon {
    display: flex;
    justify-content: space-between;
}

.comingsoon-text h6 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.comingsoon-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.portfolio-text {
    text-align: left;
    padding: 15px 0;
    max width: 700px;
}

.portfolio-text h6 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.r-image {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.newsletter-text {
    border-radius: 16px;
    background: rgba(241, 231, 231, 0.05);
    text-align: center;
    padding: 80px;
}

.newsletter-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.newsletter-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

form {
    width: 600px;
    border-radius: 50px;
    background: #FFF;
    margin: 50px 300px;
    display: flex;
    justify-content: space-between;

}

.input-text {
    margin: 30px;
}

.bttn {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 25px 55px;
}

footer {
    background: #070211;
}

.footer-text {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
}

hr {
    display: block;
    background: rgba(255, 255, 255, 0.15);
    margin: 0.5em auto;
    border-style: inset;
    border-width: 1px;

}

.footer-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;

}

button {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    border: 0;
    background-color: #070211;
}